/* ---------GLOBAL 
--------------------------------*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
h2 {
  background-color: lightgray;
}
h2,
h3,
h4,
h5 {
  padding: 5px;
}
section {
  margin: auto;
  max-width: 800px;
}
p {
  margin-left: 15px;
}
.image {
  text-align: center;
}
.rakenne img {
  width: 500px;
}

/* ---------NAVIGAATIO 
--------------------------------*/
#hamburger {
  display: none;
}
#nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: end;
}
#nav label {
  display: inline-block;
  color: white;
  background: gray;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}
#navitems a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: left;
  color: white;
  transition: color 0.2s;
}
#navitems a:hover {
  color: black;
}
#navitems {
  display: none;
  margin-left: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
#nav input:checked ~ #navitems {
  display: block;
  width: max-content;
}

/* ---------LAYOUT SUUNNITELMA 
--------------------------------*/
#layout{
  margin-bottom: 2.5rem;
}

#layout h3{
  margin: 2.5rem 0;
}

#layout p{
  width: 300px;
  position: relative;
}

#layout p:after{
  content: '';
  height: 20px;
  width: 20px;
  background-color: rgb(219, 0, 219);
  border-radius: 50%;
  position: absolute;
  right: 0%;
}

#layout p:last-of-type::after{
  background-color: rgb(162, 0, 162);
}

/* ---------TESTAAMISTULOKSET 
--------------------------------*/
#test small{
  color: rgb(99, 99, 99);
}


/* ---------KOMMENTIT JA ITSEARVIO 
--------------------------------*/
#kommentit{
  margin-bottom: 40px;
}

#kommentit .ajankaytto li{
  width: 250px;
}

#kommentit .ajankaytto li span{
  float: right;
}