:root {
  --primary-dark: #004ba0;
  --primary-mid: #1976d2;
  --primary-light: #63a4ff;
  --secondary-dark: #bc5100;
  --secondary-mid: #f57f17;
  --secondary-light: #ffb04c;
  --text-dark: #000;
  --text-light: #fff;
}

/* Common */
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: snow;
}

h1,
h2 {
  text-align: center;
  color: snow;
}

h1 {
  margin-top: 0;
  padding-top: 0.7em;
}

h2{
  background-color: var(--primary-mid);
  padding: 7px;
}

h2 span{
  margin: 0;
  color: var(--secondary-light);
}

h4 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-mid);
  transition: color 0.2s;
}

a:visited {
  color: rgb(116, 11, 191);
}

a:hover {
  color: var(--secondary-light);
  text-decoration: underline;
}

.content-width {
  margin: auto;
  max-width: 800px;
  padding: 15px;
}

/* Header */
header {
  text-align: center;
  background-color: var(--primary-mid);
}

header i {
  font-size: 0.7em;
}

nav{
  background-color: var(--primary-dark);
}

nav p, nav a{
  margin: 0;
  padding: 7px;
  color: var(--secondary-light);
}

nav a:visited{
  color: var(--secondary-light);
}

nav a.active {
  text-decoration: underline;
  color: white;
}

nav a:hover{
  color: var(--secondary-mid);
  text-decoration: none;
}

nav a.active:hover{
  color: white;
  text-decoration: underline;
}

/* Intro */
.portrait{
  text-align: center;
  margin: 1.5em 0;
}

.intro img {
  height: 200px;
  margin: auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}

/* Sections */
section:nth-child(odd) {
  background-color: rgb(234 229 229);
}

/* Yhteystietoni */
.yhteystietoni {
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
}

/* Footer */
footer {
  text-align: center;
}

/* Portfolio ---------------------------------
----------------------------------------------- */

/* Work sections */
.work-row .column {
  float: left;
}

.work-row .image-box {
  float: right;
}

.text-box {
  width: 50%;
}

.work-row:after {
  content: '';
  display: table;
  clear: both;
}

.text-box h2{
  transition: all .2s ease;
}

.text-box h2:hover{
  color: var(--secondary-light);
  background-color: var(--primary-dark);
}

.text-box a:hover{
  text-decoration: none;
}

.image {
  height: 200px;
  width: 300px;
  background-position: center;
  background-size: cover;
  background-color: rgb(47 97 189);
  margin: 20px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  transition: all 0.4s ease;
}

.image:hover {
  transform: scale(1.1);
}

.avara .image {
  background-image: url(../images/vuokrauspalvelu.jpg);
}

.raivo .image {
  background-image: url(../images/raivo.jpg);
}

.bobtravels .image {
  background-image: url(../images/bobtravels.jpg);
}

.samiasp .image {
  background-image: url(../images/samiasp.jpg);
}

/* Tarinani ---------------------------------
----------------------------------------------- */
