/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  text-align: center;
  margin-top: 4rem;
  color: rgb(91, 91, 91);
}

/* GALLERY */
.gallery-section {
  text-align: center;
  max-width: 1000px;
}

.gallery-section img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  margin: 5px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.gallery-section img:hover {
  transform: scale(1.05);
}

/* VIDEO BACKGROUND */
.video-bg-section h2{
  margin-bottom: 2.5em;
}

.video-container {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 80vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  z-index: -1;
}

.video-container p {
  max-width: 500px;
  margin: 20px auto;
  padding: 40px;
}

/* AUDIO */


/* AUDIO BG */